<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>
   
   <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
       <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
       <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />

</head>
<body>
<div class="container">
<h1>Create a Memo</h1>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<script>
    $(function(){
      
        $('#datepicker').datepicker({
            onSelect: function(dateText, inst) {
                $("input[name='date']").val(dateText);
            }
        });
      
      });
</script>

<form method="GET" action="_create">
<div class="row">
    <div class="col-md-2"> Date:
    <input type="text" class="form-control"
     id="datepicker"/>
  </div>
</div>
<input type="hidden" name="date"
    value="" />

<br>
Memo:
<br>
<textarea style="resize:none" name="memo" cols=40 rows=6>
</textarea>

<br><br>

<p>
<input type="submit"></input>
<input type="button" onclick="document.location='/index'" value="Cancel"/>
</p>


</form>
</div> 
</body>
</html>
